<img src="images/usm.jpg" width="480" height="240" align="left"/>

# MAT281 - Laboratorio N°04

## Objetivos de la clase

* Reforzar los conceptos básicos de los módulos de pandas.

## Contenidos

* [Problema 01](#p1)
* [Problema 02](#p2)

## Problema 01


<img src="https://image.freepik.com/vector-gratis/varios-automoviles-dibujos-animados_23-2147613095.jpg" width="360" height="360" align="center"/>


EL conjunto de datos se denomina `Automobile_data.csv`, el cual contiene información tal como: compañia, precio, kilometraje, etc.

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# cargar datos
df = pd.read_csv(os.path.join("data","Automobile_data.csv")).set_index('index')
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1. Elimine los valores nulos (Nan)

In [4]:
df.columns = df.columns.str.lower().str.replace('-','_').str.replace(' ','_')

In [5]:
qwe=df.dropna()
qwe

,company,body_style,wheel_base,length,engine_type,num_of_cylinders,horsepower,average_mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
39,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

2. Encuentra el nombre de la compañía de automóviles más cara

In [6]:
df['company'][df['price'].idxmax()]

'mercedes-benz'

3. Imprimir todos los detalles de Toyota Cars

In [7]:
toyota=df.loc[lambda x: x['company']=='toyota']
toyota

,company,body_style,wheel_base,length,engine_type,num_of_cylinders,horsepower,average_mileage,price
index,,,,,,,,,
66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

4. Cuente el total de automóviles por compañía

In [8]:
grupo = df.groupby('company')  
grupo['company'].count()

company
alfa-romero      3
audi             4
bmw              6
chevrolet        3
dodge            2
honda            3
isuzu            3
jaguar           3
mazda            5
mercedes-benz    4
mitsubishi       4
nissan           5
porsche          3
toyota           7
volkswagen       4
volvo            2
Name: company, dtype: int64

5. Encuentra el coche con el precio más alto por compañía

In [9]:
grupo = df.groupby(['company']) 
grupo['price'].max().reset_index()

          company    price
0     alfa-romero  16500.0
1            audi  18920.0
2             bmw  41315.0
3       chevrolet   6575.0
4           dodge   6377.0
5           honda  12945.0
6           isuzu   6785.0
7          jaguar  36000.0
8           mazda  18344.0
9   mercedes-benz  45400.0
10     mitsubishi   8189.0
11         nissan  13499.0
12        porsche  37028.0
13         toyota  15750.0
14     volkswagen   9995.0
15          volvo  13415.0

6. Encuentre el kilometraje promedio (**average-mileage**) de cada compañía automotriz

In [10]:
grupo = df.groupby(['company'])
df_leng = grupo.agg({'average_mileage':[np.mean]}).reset_index()
df_leng

          company average_mileage
                             mean
0     alfa-romero       20.333333
1            audi       20.000000
2             bmw       19.000000
3       chevrolet       41.000000
4           dodge       31.000000
5           honda       26.333333
6           isuzu       33.333333
7          jaguar       14.333333
8           mazda       28.000000
9   mercedes-benz       18.000000
10     mitsubishi       29.500000
11         nissan       31.400000
12        porsche       17.000000
13         toyota       28.714286
14     volkswagen       31.750000
15          volvo       23.000000

7. Ordenar todos los autos por columna de precio (**price**)

In [11]:
#orden de menor a mayor
qwe.sort_values(by='price')

,company,body_style,wheel_base,length,engine_type,num_of_cylinders,horsepower,average_mileage,price
index,,,,,,,,,
16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
39,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0

## Problema 02


Siguiendo la temática de los automóviles, resuelva los siguientes problemas:

#### a) Subproblema 01
A partir de los siguientes diccionarios:

In [12]:
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'],
              'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 
                'Price': [29995, 23600, 61500 , 58900]}

* Cree dos dataframes (**carsDf1** y **carsDf2**) según corresponda.
* Concatene ambos dataframes (**carsDf**) y añada una llave ["Germany", "Japan"], según corresponda.

In [13]:
carsDf1=pd.DataFrame({'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'],
              'Price': [23845, 171995, 135925 , 71400]})

In [14]:
carsDf2=pd.DataFrame({'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 
                'Price': [29995, 23600, 61500 , 58900]})

In [15]:
frames=[carsDf1,carsDf2]
result =pd.concat(frames, keys=['Germany','Japan'])
result

               Company   Price
Germany 0         Ford   23845
        1     Mercedes  171995
        2          BMV  135925
        3         Audi   71400
Japan   0       Toyota   29995
        1        Honda   23600
        2       Nissan   61500
        3  Mitsubishi    58900

#### b) Subproblema 02

A partir de los siguientes diccionarios:

In [16]:
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

* Cree dos dataframes (**carsDf1** y **carsDf2**) según corresponda.
*  Junte ambos dataframes (**carsDf**) por la llave **Company**.

In [22]:
carsDf1=pd.DataFrame({'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]})

In [23]:
carsDf2=pd.DataFrame({'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]})

In [24]:
carsDf1=pd.DataFrame({'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]})
carsDf2=pd.DataFrame({'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]})
pd.merge(carsDf1,  carsDf2, on='Company')

  Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMV  135925         182
3    Audi   71400         160